<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jie.java.android.lingoshook"
    android:versionCode="1"
    android:versionName="@string/str_version" >

    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.BATTERY_STATS"/>

    <application
        android:icon="@drawable/lac"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".LingosHookAndroidClientActivity" android:launchMode="standard" android:configChanges="keyboardHidden|orientation">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        <activity android:name="ScoreListActivity"></activity>
        <activity android:name="SettingActivity"></activity>
        <meta-data android:value="3ad1d9569acb45969e4d85864727e67d" android:name="Wooboo_PID"/>
        <meta-data android:value="1" android:name="Market_ID"/>
		<activity android:name="com.wooboo.adlib_android.AdActivity" android:configChanges="orientation|keyboardHidden" />
		<activity android:name="com.wooboo.adlib_android.FullActivity" android:configChanges="orientation|keyboardHidden" android:launchMode="singleTask"/>
		<activity android:name="PlayActivity" android:launchMode="singleInstance"></activity>
		<activity android:launchMode="standard" android:name=".HtmlDisplayActivity"></activity>
		<activity android:launchMode="standard" android:name="WordListActivity"></activity>        
    </application>

</manifest>